.App{
  margin: 20px auto;
  max-width: 450px;
  background-color: rgb(145, 145, 108);
}

body{
  padding: 0;
  margin: 0 auto;
  background-color: rgb(225, 225, 194);
  font-family: 'Nunito Sans', sans-serif;
}

h1{
  font-family: 'Playfair Display', serif;
  font-size: 42px;
}
input{
   margin: 0 auto;
   flex: 1;
   background-color:rgb(250, 248, 243) ;
   padding: 10px;
   margin: 20px;
   font-size: 14px;
   border: none;
   box-shadow: 2px 2px 10px rgb(212, 198, 171);
}
.container{
display: flex;
justify-content: center;
}
.crossed{
  text-decoration: line-through 1px rgb(247, 130, 58);
}
.ul{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70%;
}

ul,li{
  list-style-type: none;
  padding: 5px;
}

li{
  background-color:rgb(225, 225, 194) ;
  border: none;
  margin-bottom: 5px;
}
button{
   width: 70%;
   background-color:rgb(245, 209, 142) ;
   padding: 10px;
   margin: 10px;
   font-size: 14px;
   border: none;
   box-shadow: 2px 2px 10px rgb(212, 198, 171);
}
img{
margin-bottom: 40px;
}
